# Gradle
.gradle/
**/build/

# Configuracoes locais
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Arquivos gerados pelo Android
captures/
.externalNativeBuild/
.cxx/
*.aab
*.apk
output-metadata.json

# Logs e arquivos do sistema
*.log
.DS_Store
Thumbs.db

# Arquivos sensiveis
*.jks
*.keystore
google-services.json

# Android Profiling
*.hprof

# Kotlin
.kotlin/